{% extends 'frontend/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title%}
Activation
{% endblock %}

{% block content %}
<div class="container-fluid fh5co-home-banner">
    <div class="card"> <img class="card-img" src="{% static 'frontend/img/momdad 1.jpg' %}" alt="">
    <div class="card-img-overlay">
      <div class="center-text">
        <h2 class="card-title">It Is Your Girl Mudia</h2>
        <h3 style="color:white;" ><marquee>CEO Yomiformudia,Web Developer,Web Designer,Frontend Developer,Graphic Designer,Accountant</marquee></h3>  
        <a href="#" class="btn">
          <svg width="201" height="51" viewBox="0 0 201 51">
            <defs>
              <style>
              .cls-1 {
                fill: none;
                stroke-width: 1px;
                stroke: url(#linear-gradient);
              }
            </style>
            <linearGradient id="linear-gradient" x1="140.508" y1="50.5" x2="60.492" y2="0.5" gradientUnits="userSpaceOnUse">
              <stop offset="0" stop-color="#e90e65"/>
              <stop offset="1" stop-color="#fff"/>
            </linearGradient>
          </defs>
          <rect id="Rounded_Rectangle_1" data-name="Rounded Rectangle 1" class="cls-1" x="0.5" y="0.5" width="200" height="50" rx="25" ry="25"/>
        </svg>
      Explore</a> </div>
    </div>
  </div>
</div>
<br>
<div class="container margin_80_55">
    <div class="main_title_2">
        <span><em></em></span>
        <h2>Activation Link.</h2>
        <h3> Dear User, Your Activation link has been sent! Please check your mail and activate,then proceed to login.</h3>

    </div>
    <!--/row-->
</div>
<!-- /container -->
{% endblock %}