{% extends 'frontend/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title%}
Activation invalid
{% endblock %}

{% block content %}
<main>
		
    <section class="hero_in tours">
        <div class="wrapper">
            <div class="container">
                <h1 class="fadeInUp"><span></span>Mudia Portfolio</h1>
                <h1 class="fadeInDown"><span></span>Activation Link</h1>
            </div>
        </div>
    </section>
    <!--/hero_in-->
</main>
<br>
<div class="container margin_80_55">
    <div class="main_title_2">
        <span><em></em></span>
        <h2>Activation Link Invalid.</h2>
        <h3> Dear User, This Activation link has already been used ! Please, re-create your account to get another link</h3>

    </div>
    <!--/row-->
</div>
<!-- /container -->
{% endblock %}