{% extends 'backend/base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title%}
Add-About
{% endblock %}

{% block content %}

 <!-- /Navigation-->

<!-- /Navigation-->
<div class="content-wrapper">

    <div class="container-fluid">
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="#">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Add About</li>
      </ol>
      {% include 'backend/sidebar.html' %}
		<div class="box_general padding_bottom">
			<div class="header_box version_2">
                <div class="row">
                  <form method="post" enctype="multipart/form-data">
                    {% if messages %}
                      {% for m in messages %}
                        <div class="alert {{ m.tags }}">{{ m }}</div>
                      {% endfor %}
                    {% endif %}
                      {{ about.as_p }}
                      {% csrf_token %}
                    {% if port.instance.pk %}
                      <button type="submit" class="btn btn-warning">Edit Post</button>
                    {% else %}
                      <button type="submit" class="btn btn-warning">Add Post</button>
                    {% endif %}

                  </form>
                </div>
            </div>
        </div>
{% endblock %}