{% extends 'backend/base.html' %}
{% load static %}
<!Doctype html>
{% block title %}
Password Reset
{% endblock %}

{% block content %}
	{% load crispy_forms_tags %}	
		
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-md-12 animate-box">
						<h1><span class="colored">Password</span> Reset</h1>
					</div>
				</div>
			</div>
		</div>
		<div id="best-deal">
			<div class="container p-5 ">
				<div class="row">
					<h2 class="font-weight-bold mt-3" style="font-family: 'Charm', cursive;
					color: blue; text-transform: capitalize;font-size: 40px; text-align: center;">Mail sent <i class="fa fa-envelope"></i></h2>
					<hr>
					<p>
						We've emailed you instructions for setting your password, if an account exists with the email you
						entered. You should receive them shortly.<br>If you don't receive an email, please make sure
						you've entered the address you registerd with, and check your spam folder.
					</p>
				</div>
			</div>
		</div>


{% endblock%}