{% load static %}
<!DOCTYPE html>
<!--
  Girly by FreeHTML5.co
  Twitter: https://twitter.com/fh5co
  Facebook: https://fb.com/fh5co
  URL: https://freehtml5.co
-->
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="{% static 'frontend/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'frontend/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'frontend/lib/css/font-awesome.min.css' %}">
  <title>Mudia</title>
</head>
<body>
  <nav class="navbar navbar-expand-md  fixed-top maine-menu">
    <div class="container">
      <button class="navbar-toggler ml-auto" data-target="#my-nav" onclick="myFunction(this)" data-toggle="collapse"> <span class="bar1"></span> <span class="bar2"></span> <span class="bar3"></span> </button>
      <div id="my-nav" class="collapse navbar-collapse">
        {% url 'frontend:blog' as Blog %}
        {% url 'frontend:login' as Login %}
        {% url 'backend:register' as Register %}
        <ul class="navbar-nav mx-auto">
          <li class="nav-item active"> <a class="nav-link" href="{% url 'index' %}">Home</a> </li>
          <li class="nav-item"> <a class="nav-link" href="/#about" tabindex="-1" aria-disabled="true">About</a></li>
          <li class="nav-item"> <a class="nav-link" href="/#activity" tabindex="-1" aria-disabled="true">Activity</a></li>
          <li class="nav-item"> <a class="nav-link" href="/#portfolio" tabindex="-1" aria-disabled="true">Portfolio</a></li>
          <li class="nav-item"> <a class="nav-link" href="/#testimonial" tabindex="-1" aria-disabled="true">Testimonial</a></li>
          <li{% if request.path == Blog %} class="nav-item"{% endif %}> <a class="nav-link" href="{% url 'frontend:blog' %}" tabindex="-1" aria-disabled="true">Blog</a></li>
          <li class="nav-item"> <a class="nav-link" href="#contact" tabindex="-1" aria-disabled="true">Contact</a></li>
          <li{% if request.path == Register %} class="nav-item"{% endif %}> <a class="nav-link" href="{% url 'backend:register' %}" tabindex="-1" aria-disabled="true">Register</a></li>
          <li{% if request.path == Login %} class="nav-item"{% endif %}> <a class="nav-link" href="{% url 'backend:login_view' %}" tabindex="-1" aria-disabled="true">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
  {% block content %}

  {% endblock %}
  
  <footer class="container-fluid p-0 pr-0">
    <div class="row mr-0 ml-0">
      <div class="col-md-6 pr-0 pl-0 map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13035.46901327725!2d-80.85396551628644!3d35.234674411422155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8856a03af474f38f%3A0xf8301daadf5f7670!2sFourth+Ward%2C+Charlotte%2C+NC%2C+USA!5e0!3m2!1sen!2sin!4v1551001218548"  style="border:0" allowfullscreen></iframe>
      </div>
      <div class="col-md-6 content-us">
        {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
        {% endif %}

        <div class="contact-form" id="contact">
          <h3 class="text-uppercase">Contact me</h3>
          <form action="" method="POST">
            <input type="text" name="text" class="form-control" placeholder="Your Name">
          <input type="email" name="email" class="form-control" placeholder="Your Email">
          <textarea class="form-control" placeholder="Your Message"></textarea>
          <button type="submit">Send</button>
          {% csrf_token %}
          </form>
        </div>
      </div>
    </div>
    <div class="copy pt-4 pb-4">
      <p><a href="https://freehtml5.co/" target="_blank"> &copy; 2021 Mudia</a>  &nbsp;  |  &nbsp; Design by Mudia <a href="https://freehtml5.co/" target="_blank"></a> &nbsp; | &nbsp;  All rights reserved</p>
    </div>
  </footer>

  <!-- jQuery first, then Popper.js, then Bootstrap JS --> 
  <script src="{% static 'frontend/js/jquery-3.3.1.slim.min.js' %}"></script> 
  <script src="{% static 'frontend/js/popper.min.js' %}" ></script> 
  <script src="{% static 'frontend/js/bootstrap.min.js' %}"></script> 
  <script src="{% static 'frontend/js/owl.carousel.min.js' %}"></script> 
  <script src="{% static 'frontend/js/main.js' %}"></script>

</body>
</html>